In [ ]:
import plotly

from quant.data_viz.stock_list import get_stocks_paginated, Query, all_sectors, all_sub_industry

# Load Finance Data

## Check data format

## Get ticker by substring name

In [ ]:
all_sectors()

In [ ]:
all_sub_industry()

In [ ]:
query = Query(name=None, page=1, sector=None, sub_industry=None, sort=None)

In [ ]:
get_stocks_paginated(query, page_size=20)

In [2]:
import yfinance as yf
import pandas as pd
import plotly.graph_objects as go

data = df = yf.Ticker('ADBE').history(period='1mo', interval="1h")[['Open', 'High', 'Low', 'Close', 'Volume']]

In [69]:
data = pd.read_csv("data_yf.csv")

In [3]:
data

,Open,High,Low,Close,Volume
Datetime,,,,,
2025-05-07 09:30:00-04:00,384.700012,386.500000,382.980011,383.100006,301818
2025-05-07 10:30:00-04:00,383.239990,383.660004,380.945007,382.265015,215954
2025-05-07 11:30:00-04:00,382.320007,384.380005,382.320007,383.429993,164739
2025-05-07 12:30:00-04:00,383.440002,385.634003,383.440002,385.399994,133874
2025-05-07 13:30:00-04:00,385.459991,385.500000,381.751099,382.790009,176615
...,...,...,...,...,...
2025-06-06 11:30:00-04:00,416.320007,417.410004,416.299988,416.916412,151660
2025-06-06 12:30:00-04:00,417.070007,417.209900,415.690002,416.769989,127024
2025-06-06 13:30:00-04:00,416.769989,417.519989,416.690002,417.315002,137285
2025-06-06 14:30:00-04:00,417.342499,417.730011,416.779999,417.100006,187177
2025-06-06 15:30:00-04:00,417.075012,417.589996,416.640015,416.739990,338957

In [71]:
data.columns

Index(['Datetime', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [53]:
data = data.reset_index()

In [54]:
data.columns

Index(['Datetime', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [55]:
data.columns = ['time', 'open', 'high', 'low', 'close', 'volume']

In [56]:
data["time"]

0     2025-05-07 09:30:00-04:00
1     2025-05-07 10:30:00-04:00
2     2025-05-07 11:30:00-04:00
3     2025-05-07 12:30:00-04:00
4     2025-05-07 13:30:00-04:00
                 ...
149   2025-06-06 11:30:00-04:00
150   2025-06-06 12:30:00-04:00
151   2025-06-06 13:30:00-04:00
152   2025-06-06 14:30:00-04:00
153   2025-06-06 15:30:00-04:00
Name: time, Length: 154, dtype: datetime64[ns, America/New_York]

In [63]:
data.to_csv('data_yf.csv')

In [19]:
data = data[2:]

data

Price,Close,High,Low,Open,Volume
Ticker,ADBE,ADBE,ADBE,ADBE,ADBE
Datetime,,,,,
2025-04-28 18:30:00+00:00,367.989990,368.220001,366.769989,366.940002,262253
2025-04-28 19:30:00+00:00,368.500000,369.299988,367.559998,368.070007,460160
2025-04-29 13:30:00+00:00,372.475006,373.279999,366.880005,367.209991,407867
2025-04-29 14:30:00+00:00,372.529999,373.880005,372.059998,372.459991,268580
2025-04-29 15:30:00+00:00,371.725006,373.404999,371.600006,372.559998,192012
...,...,...,...,...,...
2025-06-06 15:30:00+00:00,416.916412,417.410004,416.299988,416.320007,151660
2025-06-06 16:30:00+00:00,416.769989,417.209900,415.690002,417.070007,127024
2025-06-06 17:30:00+00:00,417.315002,417.519989,416.690002,416.769989,137285
2025-06-06 18:30:00+00:00,417.100006,417.730011,416.779999,417.342499,187177
2025-06-06 19:30:00+00:00,416.739990,417.589996,416.640015,417.075012,338957

In [12]:
import numpy as np
from finta import TA

COLOR_BULL = 'rgba(38,166,154,0.9)'  # #26a69a
COLOR_BEAR = 'rgba(239,83,80,0.9)'  # #ef5350


df = yf.Ticker('ADBE').history(period='1y', interval="1w")[['Open', 'High', 'Low', 'Close', 'Volume']]


df = df.reset_index()
df.columns = ['time', 'open', 'high', 'low', 'close', 'volume']  # rename columns
df['time'] = df['time'].dt.strftime('%Y-%m-%d')  # Date to string
df['color'] = np.where(df['open'] > df['close'], COLOR_BEAR, COLOR_BULL)  # bull or bear

macd_df = TA.MACD(df, period_fast=6, period_slow=12, signal=5)

$ADBE: possibly delisted; no price data found  (period=1y) (Yahoo error = "Invalid input - interval=1w is not supported. Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 4h, 1d, 5d, 1wk, 1mo, 3mo]")

AttributeError: Can only use .dt accessor with datetimelike values

In [11]:
macd_df

         MACD    SIGNAL
0    0.000000  0.000000
1   -0.034791 -0.020875
2    0.027192  0.001893
3    0.189444  0.079799
4    0.048797  0.067898
..        ...       ...
149  0.357472  0.633978
150  0.335646  0.534534
151  0.379571  0.482879
152  0.361083  0.442281
153  0.286563  0.390375

[154 rows x 2 columns]

In [8]:
df

,time,open,high,low,close,volume,color,MACD_6_12_5,MACDh_6_12_5,MACDs_6_12_5
0,2025-05-07,384.700012,386.500000,382.980011,383.100006,301818,"rgba(239,83,80,0.9)",NaN,NaN,NaN
1,2025-05-07,383.239990,383.660004,380.945007,382.265015,215954,"rgba(239,83,80,0.9)",NaN,NaN,NaN
2,2025-05-07,382.320007,384.380005,382.320007,383.429993,164739,"rgba(38,166,154,0.9)",NaN,NaN,NaN
3,2025-05-07,383.440002,385.634003,383.440002,385.399994,133874,"rgba(38,166,154,0.9)",NaN,NaN,NaN
4,2025-05-07,385.459991,385.500000,381.751099,382.790009,176615,"rgba(239,83,80,0.9)",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
149,2025-06-06,416.320007,417.410004,416.299988,416.916412,151660,"rgba(38,166,154,0.9)",0.357472,-0.276506,0.633978
150,2025-06-06,417.070007,417.209900,415.690002,416.769989,127024,"rgba(239,83,80,0.9)",0.335646,-0.198888,0.534534
151,2025-06-06,416.769989,417.519989,416.690002,417.315002,137285,"rgba(38,166,154,0.9)",0.379571,-0.103309,0.482879
152,2025-06-06,417.342499,417.730011,416.779999,417.100006,187177,"rgba(239,83,80,0.9)",0.361083,-0.081198,0.442281
153,2025-06-06,417.075012,417.589996,416.640015,416.739990,338957,"rgba(239,83,80,0.9)",0.286563,-0.103812,0.390375